// 定義等
@charset"UTF-8";
$color:rgb(150,150,150);
$headerBgcolor:hsla(25,80,95,1);
$darkColor:hsla(25,80,88,1);
$bgcolor:hsla(25,60,10,0.17);
$tab:1050px;
$sp:600px;
@mixin tab{
  @media(max-width:($tab)){
    @content;
  }
}
@mixin sp{
  @media(max-width:($sp)){
    @content;
  }
}


// 共通
body{
  margin: 0;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 100%;
}
h1{
  margin: 0;
  padding-bottom: 20px;
}
h2{
  margin: 0;
  color:$color;
  padding:90px 0 30px;
  @include tab{
    padding: 60px 0 20px;
  }
  &::before{
    content:'-';
  }
}
h3{
  margin: 0;
  color:$color;
  padding: 30px 0;
  font-size: 1.5rem;
}
p{
  color:$color;
  margin: 0;
  font-size: 1.25rem;
}
a{
  text-decoration: none;
  color:$color;
}
ul,ol{
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  color:$color;
}
li{
  list-style: none;
  color:$color;
  font-size: 1.25rem;
}
dt{
  font-size: 1.25rem;
  color:$color;
  @include tab{
    font-size: 1.125rem;
  }
}
dd{
  font-size: 1.25rem;
  color:$color;
  @include tab{
    font-size: 1.125rem;
  }
}

img{
  vertical-align: bottom;
  width: 100%;
}
.container{
  outline: 2px solid red;
}
.overflow-scroll{
  border:3px solid $headerBgcolor;
  box-shadow:2px 2px 10px $color;
  border-radius:10px;
  margin: 0 auto;
  width: 90%;
  height: 200px;
  @include tab{
    width: 100%;
  }
}
.reserve-title{
  display: flex;
  justify-content: space-between;
  .close{
    display: block;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    position: relative;
    &:hover{
      cursor: pointer;
    }
    .left-line{
      content:'';
      position: absolute;
      top:0;
      left: 15px;
      height: 30px;
      width: 3px;
      background: $color;
      transform:rotate(45deg);
    }
    .right-line{
      content:'';
      position: absolute;
      top:0;
      left: 15px;
      height: 30px;
      width: 3px;
      background: $color;
      transform:rotate(-45deg);
    }
  }
}


// header 
// ドロープダウンのみbootstrap
header{
  width: 100vw;
  height: 90px;
  background: $headerBgcolor;
  position: fixed;
  z-index:10;
  @include tab{
    height: 60px;
  }
  .header{
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 40px;
    @include tab{
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
    }
    .header-top{
      .logo{
        padding-top: 10px;
        width: 170px;
        display: flex;
        @include sp{
          width: auto;
        }
        img{
          width: 40px;
          height: 40px;
        }
        p{
          display: inline-block;
          font-size: 1.5rem;
          padding-left: 10px;
          font-weight: bold;
          color:$color;
          @include sp{
            display: none;
            
          }
        }
      }
    }
    nav{
      padding-top: 10px;
      ul{
        display: flex;
        justify-content: space-between;
        @include tab{
          display: none;
        }
        li{
          a{
            color: $color;
            font-size: 1rem;
            &:hover{
              color:red;
              transition-duration: 0.4s;
            }
          }
        }
      }
    }
    .header-right{
      display: flex;
      .bi-instagram{
        display: none;
        @include tab{
          display: block;
          color: $color;
          font-size: 2rem;
          margin-top: 5px;
          margin-right: 30px;
          &:hover{
            transform:scale(1.3,1.3);
            transition-duration: 0.4s;
          }
        }
      }
      img{
        display: none;
        @include tab{
          display: block;
          width: 35px;
          height: 35px;
          margin: 15px 30px 0 0;
          &:hover{
            transform:scale(1.3,1.3);
            transition-duration: 0.4s;
          }
        }
      } 
      .header-list{
        display:none;
        padding-top: 10px;
        opacity:0.9;
        button{
          color: $color;
          font-size: 1.25rem;
        }
        @include tab{
          display: block;
          padding-top: 10px;
        }
      }
    }
  }
}

// サイドバー
.sidebar{
  position: fixed;
  top:50vh;
  right:0;
  z-index:10;
  @include tab{
    display: none;
  }
  .side-insta{
    background: rgba($darkColor,0.6);
    border-top-left-radius: 15px;
    margin-bottom: 30px;
    padding: 5px 15px;
    .bi-instagram{
      font-size: 3rem;
      display: block;
      &:hover{
        transform:scale(1.5,1.5);
        transition-duration: 0.4s;
        color: $color;
      }
    }
  }
  .side-line{
    background: rgba($darkColor,0.6);
    padding:15px;
    margin-bottom: 30px;
    border-top-left-radius: 15px;
    img{
      height: 50px;
      width: 50px;
      &:hover{
        transform:scale(1.5,1.5);
        transition-duration: 0.4s;
      }
    }
  }
}

// メインビジュアル
// 全て手書き
.mainvisual{
  padding-top: 90px;
  position:relative;
  @include tab{
    padding-top: 60px;
  }
  img{
    width: 100vw;
    height: calc(100vh - 90px);
    object-fit:cover;
    object-position: center;
    opacity:0.85;
    @include tab{
      height: calc(100vh - 60px);
    }
  }
  .main-text{
    width: 70%;
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:3;
    background:rgba(30,30,30,0.35);
    @include tab{
      width: 85%;
    }
    h1{
      font-size: 5rem;
      text-align: center;
      text-shadow:3px 3px 10px $headerBgcolor;
      color:white;
      @include tab{
        font-size: 3.6rem;
      }
    }
    p{
      font-size: 1.75rem;
      color:white;
      text-align: center;
      @include tab{
        font-size: 1.25rem;
      }
    }
    p:first-of-type{
      padding-bottom: 50px;
    }
  }
  .main-shadow{
    height: calc(100vh - 90px);
    width: 100vw;
    background: $bgcolor;
    position: absolute;
    top:90px;
    left:0;
    z-index:2;
    @include tab{
      top:60px;
      height: calc(100vh - 60px);
    }
  }
}

// メイン 
// 出来るだけbootstrap
main{
  background: hsla(25,80,90,0.18);
  .container-md{ 
    // hover
    // .hover{
    //   margin: 0 auto;
    //   max-width: 1000px;
    //   #main-img{
    //     img{
    //       max-width: 600px;
    //       width: 80%;
    //       display: block;
    //       margin: 0 auto;
    //     }
    //   }
    //   #thumbnail{
    //     display: flex;
    //     justify-content: space-between;
    //     li{
    //       width: 16%;
    //     }
    //   }
    // }

    // information
    #information{
      // 最新情報はこちら 外枠のみbootstrap細部は手書き
      .overflow-scroll{
        height: 300px;
        background: white;
        }
        article{
          display: block;
          height: 80px;
          width: 100%;
          border:1px solid $color;
          &:hover{
            background: $headerBgcolor;
            transition-duration: 0.4s;
          }
          a{
            display: block;
            cursor:pointer;
            width: 100%;
            height: 100%;
            p:first-of-type{
              width: 120px;
            }
          }
        }
      }
    }
    // lesson
    // アコーディオンは手書き
    #lesson{
      .row{
        padding-bottom: 30px;
        .col-md-4{
          display: flex;
          justify-content: center;
          img{
            max-width: 300px;
            border:5px solid $darkColor;
            box-shadow:2px 2px 5px $color;
            margin-bottom: 30px;
          }
        }
        .col-md-8{
          display: flex;
          align-items: center;
        }
      }
      // アコーディオン
      .accordion{
        color:$color;
        .item{
          width: 90%;
          margin: 0 auto;
          box-shadow:3px 3px 8px $headerBgcolor;
          &:hover{
            cursor: pointer;
            background: $headerBgcolor;
            transition-duration: 0.4s;
          }
          .title{
            font-size: 1.25rem;
            padding: 15px 20px;
            border: 2px solid $headerBgcolor;
            border-radius: 10px;
            span{
              float:right;
              padding-right: 20px;
            }
          }
          .detail{
            font-size: 1.125rem;
            padding: 10px 20px;
            display: none;
          }
        }
      }
      // インナーチャイルド こんな方におすすめ
      .inner-sub{
        border:3px solid $headerBgcolor;
        box-shadow:2px 2px 8px $headerBgcolor;
        border-radius: 20px;
        min-width: 440px;
        width: 60%;
        margin: 0 auto;
        background: white;
        ol{
          margin: 0 auto;
          width: 360px;
          li{
            list-style: auto;
          }
        }
      }
    }

    // スタジオ
    #studio{
      h3{
        padding-bottom: 50px;
      }
      .row{
        padding-bottom: 80px;
        .col-lg-6{
          img{
            max-width: 500px;
            border: 8px solid $darkColor;
            box-shadow:4px 4px 10px $color;
          }
          dl{
            dt{
              padding-bottom: 10px;
            }
            dd{
              padding-bottom: 20px;
            }
          }
        }
      }
      iframe{
        display: block;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
      }
    }

    // オンライン
    #online{
      .row{
        .col-md-4{
          #carouselExampleControls{
            border:6px solid $darkColor;
            box-shadow:4px 4px 10px $color;
            max-width:400px;
          }
        }
      }
      .consent{
        background: white;
        border-radius: 10px;
        padding: 10px;
        li{
          list-style-type: decimal;
          list-style-position: inside;
          padding-left: 40px;
        }
      }
      .howto-connect{
        display: flex;
        flex-direction: column;
        li{
          background: white;
          border-radius: 8px;
          margin-bottom: 10px;
          padding: 5px;
          text-align: center;
          a{
            text-decoration: underline;
            &:hover{
              color:red;
            }
          }
        }
        .arrow{
          align-self: center;
          width: 50px;
          height: 25px;
          background: $darkColor;
          position: relative;
          margin-bottom: 35px;
          &::before{
            content:'';
            position: absolute;
            width: 0;
            height: 0;
            bottom:-100%;
            left: -50%;
            border-top:25px solid $darkColor;
            border-left:50px solid transparent;
            border-right:50px solid transparent;
          }
        }
      }
    }

    // 料金

    // インストラクター
    #instructor{
      .row{
        img{
          max-width: 500px;
          border:6px solid $darkColor;
          box-shadow:3px 3px 8px $color;
        }
        .instructor-text{
          p,ul,li{
            @include tab{
              font-size: 1.125rem;
            }
          }
        }
      }
    }

    // 初めての方
    #beginners{
      ul{
        background: white;
        margin-bottom: 30px;
        border-radius: 15px;
        h3{
          padding-left: 20px;
        }
        li{
          list-style-type:disc;
          list-style-position:inside;
          padding: 10px 40px;
          
        }
      }
     
    }
  
    // お客様の声
    #guests{
      ul{
        li{
          display: flex;
          margin-bottom: 40px;
          .guest-img{
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 150px;
            width: 25%;
            height: auto;
            img{      
              display: block;
              border-radius: 50%;
              background: $darkColor;
            }
          }
          .voice{
            position: relative;
            background: white;
            width: 100%;
            padding: 20px 20px 10px;
            border-radius: 10px;
            border: 2px solid white;
            margin-left: 30px;   
          }
        }
        li:nth-of-type(odd){
          .voice{
            &::before{
              position: absolute;
              content:'';
              border-right:20px solid white;
              border-top:20px solid transparent;
              border-bottom:20px solid transparent;
              top:50%;
              left:0%;
              transform:translate(-100%,-50%)
            }            
          }
        }
        li:nth-of-type(even){
          flex-direction: row-reverse;
          .voice{
            margin-right: 30px;
            &::after{
              position: absolute;
              content:'';
              border-left:20px solid white;
              border-top:20px solid transparent;
              border-bottom:20px solid transparent;
              top:50%;
              right:0%;
              transform:translate(100%,-50%)
            }            
          }
        }
      }
    }

    // ご予約
    #reserve{
      .contact{
        ol{
          li{
            list-style-type: decimal;
            list-style-position: inside;
          }
        }
        .reserve-btns{
          display: flex;
          flex-wrap: wrap;
          .reserve-btn{
            font-size: 1.5rem;
            margin-top: 20px;
            margin-left: 30px;
            padding: 5px;
            box-shadow:3px 3px $color;
            color:$color;
            cursor: pointer;
            border-radius: 5px;
            &:hover{
              opacity:0.7;
              color:$color;
            }
            &:active{
              box-shadow:none;
              transform:translate(3px,3px)
            }
          }
          .reserve-btn:first-of-type{
            background: $headerBgcolor;
          }
          .reserve-btn:nth-of-type(2){
            background: hsla(210,100,80,0.5);
          }
          .reserve-btn:nth-of-type(3){
            background: hsla(100,100,70,0.5);
          }
          .reserve-btn:nth-of-type(4){
            background: hsla(270,100,80,0.5);
          }
        }
        form{
          display: none;
          padding-left: 40px;
          padding-bottom: 80px;
          .reserve-title{
            display: flex;
            justify-content: space-between;
            .close{
              display: block;
              margin-top: 30px;
              width: 30px;
              height: 30px;
              position: relative;
              &:hover{
                cursor: pointer;
              }
              .left-line{
                content:'';
                position: absolute;
                top:0;
                left: 15px;
                height: 30px;
                width: 3px;
                background: $color;
                transform:rotate(45deg);
              }
              .right-line{
                content:'';
                position: absolute;
                top:0;
                left: 15px;
                height: 30px;
                width: 3px;
                background: $color;
                transform:rotate(-45deg);
              }
            }
          }
          ul{
            li{
              margin-bottom: 20px;
              .selector{
                display: flex;
                flex-wrap: wrap;
                .s-btn{
                  margin: 15px;
                  padding: 5px;
                  background: $headerBgcolor;
                  border-radius: 5px;
                  box-shadow:3px 3px $color;
                  &:hover{
                    cursor: pointer;
                    background: $darkColor;
                  }
                  &:active{
                    transform:translate(3px,3px);
                    box-shadow:none;
                  }
                }
              }
              input{
                width: 400px;
                @include sp{
                  width: 80%;
                }
              }
              textarea{
                max-width: 800px;
                width: 80%;
                @include sp{
                  width: 90%;
                }
              }
            }
            .yoga-list{
              h3{
                padding-bottom: 0;
              }
              p{
                padding-top: 20px;
              }
            }
          }
          #reset{
            width: 100px;
            display: block;
            background: $headerBgcolor;
            border-color:$headerBgcolor;
          }
          button{
            width: 200px;
            background: $darkColor;
            border-color:$color;
            display: block;
            margin: 40px auto 0;
          }  
        }
      }
    }

    // お問い合わせ
    #contact{
      a{
        display: block;
        padding: 10px;
        border:2px solid $darkColor;
        margin: 20px;
        font-size: 1.25rem;
        width: 240px;
        text-align: center;
        &:hover{
          background: $darkColor;
          color: $color;
          transition-duration: 0.4s;
        }
      }
    }
  }  
    


// footer
footer{
  .footer{
    background:$headerBgcolor;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 30px 50px;
    @include sp{
      flex-direction:column;
      padding: 30px;
    }
    a{
      font-size: 1rem;
      &:hover{
        color:red;
        transition-duration: 0.4s;
      }
    }
    .footer-left{
      @include sp{
        border-bottom: 1px solid $color;
        padding-bottom: 10px;
        br:last-of-type{
          display: none;
        }
      }
      img{
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
      }
      p{
        font-size: 1rem;
      }
    }
    .footer-center{
      @include sp{
        border-bottom: 1px solid $color;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    .footer-right{
      @include sp{
        padding-top: 10px;
      }
      img{
        width: 100px;
        height: 100px;
        margin-top: 30px;
      }
    }
  }  
  .footer-bottom{
    background: $darkColor;
    font-size: 0.75rem;
  }
}